<div>
  <form [formGroup]="formContacto" style="width: 100%; max-width: 800px; margin-bottom: 1rem; display: flex; flex-direction: column; align-items: flex-end;">
    <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
      <!-- Tipo de Contacto -->
      <mat-form-field>
        <mat-label>Tipo de Contacto</mat-label>
        <mat-select formControlName="tipoContacto" placeholder="Seleccione el tipo de contacto">
          <mat-option *ngFor="let tipo of tiposContacto" [value]="tipo.valor">
            {{ tipo.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formContacto?.get('tipoContacto')?.invalid && formContacto.get('tipoContacto')?.touched">
          Tipo de contacto es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Valor de Contacto</mat-label>
        <input matInput formControlName="valorContacto" placeholder="Ingrese el valor de contacto">
        <mat-error *ngIf="formContacto?.get('valorContacto')?.hasError('required') && formContacto.get('valorContacto')?.touched">Campo requerido.</mat-error>
        <mat-error *ngIf="formContacto?.get('valorContacto')?.hasError('telefonoInvalido')">Ingrese un número de teléfono de 8 dígitos</mat-error>
        <mat-error *ngIf="formContacto?.get('valorContacto')?.hasError('emailInvalido')">Ingrese un correo electrónico válido</mat-error>
        <mat-error *ngIf="formContacto?.get('valorContacto')?.hasError('emailValidar')">Dato ya existe</mat-error>
      </mat-form-field>
    </div>

    <!-- Botón de enviar -->
    <div style="margin-top: 1rem;">
      <button mat-raised-button type="submit" color="primary" (click)="addEditContacto()" [disabled]="formContacto.invalid">
        {{ showEdit ? 'Editar Contacto' : 'Guardar Contacto' }}
      </button>
    </div>
  </form>
</div>
