<h1 mat-dialog-title>Eliminar {{data.tipo}}</h1>
<mat-dialog-content>
  <ng-container *ngIf="data.item && data.item.nombres && data.item.apellidos; else defaultMsg">
    ¿Desea eliminar el {{data.tipo.toLowerCase()}} "{{data.item.nombres}} {{data.item.apellidos}}"?
  </ng-container>
  <ng-template #defaultMsg>
    ¿Está seguro de eliminar este {{data.tipo.toLowerCase()}}?
  </ng-template>
</mat-dialog-content>

<div>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button
      mat-raised-button
      color="primary"
      (click)="confirmarEliminar()"
      cdkFocusInitial>
      Sí, Eliminar
    </button>
  </mat-dialog-actions>
</div>
