<h1 mat-dialog-title>Eliminar Cliente</h1>
<mat-dialog-content>
  <ng-container *ngIf="dataCliente && dataCliente.nombres && dataCliente.apellidos; else defaultMsg">
    ¿Desea eliminar el Cliente "{{dataCliente.nombres}} {{dataCliente.apellidos}}"?
  </ng-container>
  <ng-template #defaultMsg>
    ¿Está seguro de eliminar?
  </ng-template>
</mat-dialog-content>

<div>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button
      mat-raised-button
      color="primary"
      (click)="confirmarEliminar()"
      cdkFocusInitial>
      Sí, Eliminar
    </button>
  </mat-dialog-actions>
</div>
