<div [formGroup]="parentForm">
  <div formArrayName="metodosDePago">
    <div *ngFor="let metodo of metodosDePago.controls; let i=index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Tipo de Método de Pago</mat-label>
              <mat-select formControlName="tipo">
                <mat-option *ngFor="let tipo of tiposMetodo" [value]="tipo.valor">
                  {{ tipo.nombre }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="metodosDePago.controls[i].get('tipo')?.invalid && metodosDePago.controls[i].get('tipo')?.touched">
                Elija un metodo de pago
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Número de Tarjeta</mat-label>
              <input matInput formControlName="numero" />
              <mat-error *ngIf="metodosDePago.controls[i].get('numero')?.invalid && metodosDePago.controls[i].get('numero')?.touched">
                Debe de ingresar el número de tarjeta
                <span *ngIf="metodosDePago.controls[i].get('numero')?.value">
                  (
                  {{ metodosDePago.controls[i].get('numero')?.value.length }}
                  /
                  {{ metodosDePago.controls[i].get('numero')?.value.length > 13 ? '18' : '13' }}
                  )
                </span>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Fecha de Vencimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaVencimiento" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="metodosDePago.controls[i].get('fechaVencimiento')?.invalid && metodosDePago.controls[i].get('fechaVencimiento')?.touched">
                La fecha de vencimiento es requerida
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Nombre del Titular</mat-label>
              <input matInput formControlName="nombreTitular" />
              <mat-error *ngIf="metodosDePago.controls[i].get('nombreTitular')?.invalid && metodosDePago.controls[i].get('nombreTitular')?.touched">
                Debe de ingresar el nombre del titular
              </mat-error>
            </mat-form-field>
            <button mat-icon-button color="warn" *ngIf="metodosDePago.length > 1" (click)="removeMetodosPago(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
  </div>
  <button mat-raised-button color="primary" type="button" (click)="addMetodosPago()">Añadir Método de Pago</button>
</div>
