.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  margin-left: 0; /* Removed margin-left: 90px; */
}

.mat-table {
  width: 100%; /* Ensure table takes full width of container */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.separator {
  flex-grow: 1; /* Allow separator to grow and fill the space */
  border-radius: 15px; /* Bordes redondos */
  background: linear-gradient(to right, rgba(200, 200, 200, 0.5), rgba(200, 200, 200, 0) 90%); /* Fondo con gradiente */
  padding: 10px; /* Espaciado interior */
  color: white; /* Color de letra blanco */
  font-family: 'Roboto', Courier, monospace; /* Fuente monoespaciada similar a una máquina de escribir */
  font-size: 24px; /* Tamaño de letra más grande */
}
