.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  margin-left: 0; /* Removed margin-left: 90px; */
}

.mat-table {
  width: 100%; /* Ensure table takes full width of container */
}
