<div class="container">

  <mat-card class="card">

    <div style="width: 100%;  ">
      <mat-card>
        <mat-card-header style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 20px;">
          <h1 style="color: white; margin: 0;">Lista de Clientes</h1>
          <div style="flex-grow: 1;"></div> <!-- Este div vacío ocupa todo el espacio disponible -->
          <button mat-flat-button color="primary" (click)="openDialogCrearCliente()">Guardar</button>
        </mat-card-header>
      </mat-card>
    </div>

    <mat-form-field class="filter-field">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Numero Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; min-width: 3rem">No.</th>
        <td mat-cell *matCellDef="let index = index" style="text-align: center">{{index + 1}}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef style="text-align: left; min-width: 7rem">Nombre</th>
        <td mat-cell *matCellDef="let element" style="text-align: left">{{element.nombres}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef style="text-align: left; min-width: 7rem">Apellidos</th>
        <td mat-cell *matCellDef="let element" style="text-align: left">{{element.apellidos}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef style="text-align: left; min-width: 10rem">Dirección</th>
        <td mat-cell *matCellDef="let element" style="text-align: left">{{element.direccion}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef style="text-align: left; min-width: 10rem">Empresa</th>
        <td mat-cell *matCellDef="let element" style="text-align: left">{{element.empresa}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Acciones</th>
        <td mat-cell *matCellDef="let element" class="action-buttons">
          <button mat-icon-button color="accent" matTooltip="Ver Contacto" (click)="dialogoVerContacto(element)">
            <mat-icon>contacts</mat-icon>
          </button>

          <button mat-icon-button color="accent" matTooltip="Ver Métodos de Pago" (click)="dialogoVerMetodosPago(element)">
            <mat-icon>credit_card</mat-icon>
          </button>

          <button mat-icon-button color="primary" matTooltip="Editar Cliente" (click)="dialogoEditarCliente(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" matTooltip="Eliminar Cliente" (click)="dialogoEliminarCliente(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No hay datos que coincidan con el filtro "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccionar página de elementos periódicos"></mat-paginator>
  </mat-card>

</div>
