<div style="width:95%; margin:25px auto; display: flex; flex-direction: column; align-items: center;">
  <div style="width: 100%; max-width: 800px; margin-bottom: 1rem;">
    <mat-card>
      <mat-card-header style="display: flex; justify-content: space-between; align-items: center;">
        <mat-card-title style="color: white;">
          <button mat-icon-button mat-dialog-close color="warn">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          Lista de Contactos
        </mat-card-title>
        <button mat-raised-button color="primary" (click)="toggleForm()">
          {{ showForm ? 'Ocultar' : 'Nuevo Contacto' }}
        </button>
      </mat-card-header>
    </mat-card>
  </div>

  <mat-card style="width: 100%; max-width: 800px;">
    <mat-card-content>
      <!-- Formulario reactivo -->
      <div *ngIf="showForm">
        <app-contacto-agregar
        [dataCliente]="dataCliente"
        [contactoEditar]="contactoEditar"
        (formClosed)="toggleForm()"
        (contactSaved)="onContactSaved()">
      </app-contacto-agregar>
      </div>

      <div style="display: flex; flex-direction: column; align-items: stretch;">
        <!-- Campo de filtro -->
        <mat-form-field class="filter-field" style="width: 100%;">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ej. ium" #input>
        </mat-form-field>

        <!-- Tabla de contactos -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
          <!-- Columnas de la tabla -->
          <ng-container matColumnDef="tipoContacto">
            <th mat-header-cell *matHeaderCellDef style="text-align: left; min-width: 10rem"> Tipo de Contacto </th>
            <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.tipoContacto }} </td>
          </ng-container>

          <ng-container matColumnDef="valorContacto">
            <th mat-header-cell *matHeaderCellDef style="text-align: left; min-width: 10rem"> Valor de Contacto </th>
            <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.valorContacto}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Acciones </th>
            <td mat-cell *matCellDef="let element"  style="text-align: center">
              <button mat-icon-button color="primary" (click)="editarContacto(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="dialogoEliminarContacto(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
