<mat-card class="formulario-card">

  <div class="separator">
    <span class="separator-text">Datos del cliente</span>
  </div>

    <form [formGroup]="formCliente" (ngSubmit)="addEditCliente()">
      <mat-form-field>
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="nombres" />
        <mat-error *ngIf="formCliente.get('nombres')?.invalid && formCliente.get('nombres')?.touched">
          Los nombres son requeridos
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellidos" />
        <mat-error *ngIf="formCliente.get('apellidos')?.invalid && formCliente.get('apellidos')?.touched">
          Los apellidos son requeridos
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" />
        <mat-error *ngIf="formCliente.get('direccion')?.invalid && formCliente.get('direccion')?.touched">
          La direccion es requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formCliente.get('fechaNacimiento')?.invalid && formCliente.get('fechaNacimiento')?.touched">
          <ng-container *ngIf="formCliente.get('fechaNacimiento')?.errors?.['required']">
            La fecha de nacimiento es requerida
          </ng-container>
          <ng-container *ngIf="formCliente.get('fechaNacimiento')?.errors?.['menorDeEdad']">
            Debe ser mayor de 18 años
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>DPI</mat-label>
        <input matInput formControlName="dpi" />

        <mat-error *ngIf="formCliente.get('dpi')?.invalid && formCliente.get('dpi')?.touched">
          El DPI debe tener exactamente 13 dígitos numéricos
          <span *ngIf="formCliente.get('dpi')?.value && formCliente.get('dpi')?.value.length !== 13">
            ({{ formCliente.get('dpi')?.value.length }}/13)
          </span>
        </mat-error>

        <mat-error *ngIf="formCliente.get('dpi')?.hasError('dpiExists')">
          Este DPI ya existe
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>NIT</mat-label>
        <input matInput formControlName="nit" />
          <mat-error *ngIf="formCliente.get('nit')?.invalid && formCliente.get('nit')?.touched">
            El nit es requerido
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Empresa</mat-label>
        <input matInput formControlName="empresa" />
          <mat-error *ngIf="formCliente.get('nit')?.invalid && formCliente.get('nit')?.touched">
            La empresa es requerida
          </mat-error>
      </mat-form-field>

      <app-contactos [parentForm]="formCliente"></app-contactos>
      <app-metodos-pago [parentForm]="formCliente"></app-metodos-pago>

      <button mat-raised-button color="primary" type="submit" [disabled]="formCliente.invalid">Guardar</button>
    </form>
</mat-card>
