.formulario-container {
  max-height: 400px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  margin: 20px; /* Añade margen alrededor del formulario */
}
